<!-- templates/archive.html -->

{% extends "nav.html" %}

{% block content %}

    <!-- TZX004 -->
    <h1 class="Text-shadow-1">Stories Archive</h1>
    
    <div class="archive-item">
        <table>
            <tr>
                <th class="Table-th-1">No.</th>
                <th class="Table-th-1">Title</th>
                <th class="Table-th-1">Author</th>
                <th class="Table-th-1">Timestamp</th>
                <th class="Table-th-1">Delete</th>
            </tr>  
            {% for story in stories %}
                <form action="/delete_story" method="post">
                    <tr>
                        <td class="Table-td-1">{{ loop.index }}.</td>      
                        <td class="Table-td-1">{{ story.title }}</td>
                        <td class="Table-td-2">{{ story.author }}</td>
                        <td class="Table-td-2">{{ story.timestamp }}</td>
                        <td class="Table-td-2">
                            <button class="Btn-dustbin" type="submit" name="button_value" value="{{ story.timestamp }}">
                                <img class="Img-margin-0" src="{{ url_for('static', filename='images/dustbin.jpg') }}" width="28" height="28">
                            </button>        
                        </td>
                    </tr>
                </form>
            {% endfor %}
        </table>

    </div><br>

  <!-- <a href="/success">Home</a><br><br> -->
  
    <img class="Img-bottom-1" src="{{ url_for('static', filename='images/trash-can.gif') }}" width=80>

{%endblock%}
