{% extends "nav.html" %}
{% block title %}badges{% endblock %}
{% block content %}
    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if "success" in message %}
                        <li class="flash-s">{{ message }}</li>
                    {% else %}
                        <li class="flash-e">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Function to remove red dot when navigation link is clicked
            function removeRedDot() {
                document.querySelector('.word-count-indicator').classList.remove('active');
            }

            // Add event listener for navigation bar links
            var navLinks = document.querySelectorAll('.nav-item');
            navLinks.forEach(function(link) {
                link.addEventListener('click', removeRedDot);
            });
        });
    </script>
{% endblock content %}
