<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <title>Home Page</title>
    {% extends "nav.html" %}
</head>
<body>
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if "success" in message %}
                        <li class="flash-s">{{ message }}</li>
                    {% else %}
                        <li class="flash-e">{{ message }}</li>
                    {%endif%}
                {% endfor %}
            {%endif%}
        {% endwith%}
    </div>

    <section class="top">
        <img src="{{ url_for('static', filename='homepic.png') }}" alt="Write story" class="homepic">
        <div class="top-content">
            <h1>Welcome to StoryWriter</h1>
            <p>Looking for the perfect place to write and share your stories?<br> You've found it with StoryWriter!</p>
            <a href="/signup" class="gsbutton">Get Started</a>
        </div>
    </section>

{%endblock%}
</body>
</html>