<!-- templates/index.html -->

{% extends "nav.html" %}

{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if "success" in message %}
                        <li class="flash-s">{{ message }}</li>
                    {% else %}
                        <li class="flash-e">{{ message }}</li>
                    {%endif%}
                {% endfor %}
            {%endif%}
        {% endwith%}
    </div>

    <h2>Story Writer</h2>
    <form action="/add_story" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" size="50" required placeholder="Enter your title here">
        <br><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="10" cols="80" required placeholder="Write your story here"></textarea><br>
        <input type="submit" value="Save the story above"><br>
    </form>

    <img src="{{ url_for('static', filename='images/writing.gif') }}" width=120>    
    
{%endblock content%}

<!--
</body>
</html>
-->