<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nav.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <label class="logo">StoryWriter</label>
        <ul class="navbar">
            {%if current_user.is_authenticated%}

                <li class="nav-list"><a class="nav-item" href="/">Home</a></li>               <!--TZX004-->
                <li class="nav-list"><a class="nav-item" href="/success">Writer</a></li>      <!--TZX004-->
                <li class="nav-list"><a class="nav-item" href="/storylist">Story</a></li>     <!--TZX004-->
                <li class="nav-list"><a class="nav-item" href="/archive">Admin</a></li>       <!--TZX004-->
                <li class="nav-list"><a class="nav-item" href="/profile">Profile</a></li>     <!--TZX004-->
                <li class="nav-list"><a class="nav-item" href="/logout">Logout</a></li>         <!--TZX004-->
            {% else %}
                <li class="nav-list"><a class="nav-item" href="/">Home</a></li>
                <li class="nav-list"><a class="nav-item" href="/login">LogIn</a></li>
                <li class="nav-list"><a class="nav-item" href="/signup">SignUp</a></li>
                <li class="nav-list"><a class="nav-item" href="/profile">Profile</a></li>

            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock content%}
</body>
</html>

