<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nav.css') }}">
    <title>{% block title %}{% endblock %}</title>
    <style>
        /* Hide the navbar and print button when printing */
        @media print {
            .Text-shadow-1{
                display: none;
            }
            .navbar {
                display: none;
            }
            #print-btn {
                display: none;
            }
            .Img-margin-0{
                display: none;
            }
            .containerr{
                display: none;
            }
            .Author-TimeStamp{
                display:none;
            }
        }
    </style>
</head>
<body>

    <!-- <nav> --> <!-- TZX006 commented this line -->
    <nav class="navbar" id="navbar">                <!-- TZX006 -->
        <!-- TZX010 chg 1 line below --->
        <label class="logo">StoryWriter</label>
        <ul class="navbar">
            {%if current_user.is_authenticated%}
                <!-- Remove "Home" from the top navigation menu by TZX010 -->
                <li class="nav-list"><a class="nav-item" href="/success">My Story</a></li>      <!--TZX010-->
                <li class="nav-list"><a class="nav-item" href="/storylist">Story</a></li>       <!--TZX010-->
                <li class="nav-list"><a class="nav-item" href="/editrecord">Edit</a></li>       <!--TZX010-->
                <li class="nav-list"><a class="nav-item" href="/archive">Admin</a></li>       <!--TZX004-->
                <li class="nav-list"><a class="nav-item" href="/profile">Profile</a></li>     <!--TZX004-->
                <li class="nav-list"><a class="nav-item" href="/badges">Badges<span class="word-count-indicator"></span></a></li>
                <li class="nav-list"><a class="nav-item" href="/logout">Logout</a></li>        <!--TZX004-->
                <li class="nav-list"><a href="/search"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABaUlEQVR4nO2Wz0pCQRjFf2i6ydop9ArZO1T7FhrlK0TSH+spxNcw61GCaJMFJZn71rqolfHBufBtwjtzLxLkgYELM+ecud98cxhY4Q+hDLSAW+ANmGnY90BztiZXHAIfwHzBGAPNPAwLQM8JPwEXwDawrlEHLoGhW9cVNxo9CX0BJwvEbO5UaxPz6PLOJbQbwNtz5o1Q07I7U/vTULTFfQdKIcSWO9OYsyoCz9I4CiHeiXROPDrSuAkhjUSy7o1FXRp2z1NjKlIlg/GGNKbLNt6MMR7lUOod19mpMRDJEikW19Lox1ynYYbr9CKN49AAGYtoMRiKM3EnwFooueki02IwLfaBb3EPiETXmbdVwt9Q1J8mpp9ANda44MznisGOwqGiYd175c40MU3W18iAhq7FoofAROWtuqzObF5S4Fv2vioYZtpQX93rG6mWp3koqu5lYpvd4r+Y11zZH5ZpnJg/AvfLNl4Bww/dcoIlpDH7/gAAAABJRU5ErkJggg=="></a></li>
                    
            {% else %}
                <li class="nav-list"><a class="nav-item" href="/">Home</a></li>
                <li class="nav-list"><a class="nav-item" href="/login">LogIn</a></li>
                <li class="nav-list"><a class="nav-item" href="/signup">SignUp</a></li>
                <li class="nav-list"><a class="nav-item" href="/profile">Profile</a></li>
                <li class="nav-list"><a href="/search"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABaUlEQVR4nO2Wz0pCQRjFf2i6ydop9ArZO1T7FhrlK0TSH+spxNcw61GCaJMFJZn71rqolfHBufBtwjtzLxLkgYELM+ecud98cxhY4Q+hDLSAW+ANmGnY90BztiZXHAIfwHzBGAPNPAwLQM8JPwEXwDawrlEHLoGhW9cVNxo9CX0BJwvEbO5UaxPz6PLOJbQbwNtz5o1Q07I7U/vTULTFfQdKIcSWO9OYsyoCz9I4CiHeiXROPDrSuAkhjUSy7o1FXRp2z1NjKlIlg/GGNKbLNt6MMR7lUOod19mpMRDJEikW19Lox1ynYYbr9CKN49AAGYtoMRiKM3EnwFooueki02IwLfaBb3EPiETXmbdVwt9Q1J8mpp9ANda44MznisGOwqGiYd175c40MU3W18iAhq7FoofAROWtuqzObF5S4Fv2vioYZtpQX93rG6mWp3koqu5lYpvd4r+Y11zZH5ZpnJg/AvfLNl4Bww/dcoIlpDH7/gAAAABJRU5ErkJggg=="></a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock content%}
</body>
</html>

