<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset_request.css') }}">
    <title>Reset Password</title>
    {% extends "nav.html" %}
</head>
<body>
{% block title %}Reset Password{% endblock %}
{% block content %}
    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                     {% if "success" in message %}
                        <li class="flash-s">{{ message }}</li>
                    {% else %}
                        <li class="flash-e">{{ message }}</li>
                    {%endif%}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="bigbox">
        <form method="post" action="" class="login-form">
            {{ form.hidden_tag()}}
            <div class="logininfo">
                <h3>Reset Password</h3>
                <div class="inputbox">
                    {%if form.email.errors%}
                        {{form.email(class="inputfield is invalid")}}
                        <div class="invalid-input">
                            {%for error in form.email.errors %}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.email(class="inputfield", placeholder="Email")}}
                    {%endif%}
                </div>
                <div class="button1">
                    {{form.submit(class="button")}}
                </div>
            </div>
        </form>
    </div>
{%endblock content%}
</body>