{% extends "nav.html" %}

{% block content %}
    <h1>Search Results for: "{{ searched }}"</h1>
    {% if posts %}
        <ul>
            {% for story in posts %}
                <li><a href="{{ url_for('read_story', timestamp=story.timestamp) }}">{{ story.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found for "{{ searched }}"</p>
    {% endif %}

    <form action="{{ url_for('search') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.searched.label }} {{ form.searched(size=20) }}
        {{ form.submit() }}
    </form>
{% endblock %}