<!-- templates/story.html -->

{% extends "nav.html" %}

{% block content %}
    
    <h2>{{ story.title }}</h2>
    <p>{{ story.content }}</p>

    <form method="post" action="{{ url_for('speech_text') }}">
        <button class="btn-speech" type="submit">
            <img src="{{ url_for('static', filename='images/text-to-speech.jpg') }}" width="60" height="50">
        </button>
    </form><br>
    
    <!-- <a href="/storylist">Back</a><br> -->

    <img src="{{ url_for('static', filename='images/bookworm.gif') }}" width=120>
    
{%endblock%}
