<!-- templates/storylist.html -->

{% extends "nav.html" %}

{% block title %}
    {%if editmode%}
        Edit
    {%else%}
        Story
    {%endif%}
{% endblock %}

{% block content %}

    {%if editmode%}
        <h1 class="Text-shadow-1">Edit</h1>
    {%else%}
        <h1 class="Text-shadow-1">Story</h1>
    {%endif%}


    <!-- TZX005 (Option: Start) --------------------------------->
    <div class="Fixed-container-1">
        <form class="Form-1" action="{{ url_for('sort_record') }}" method="post">
            <h4>Sort by:</h4>
            <select class="Select-1" name="sort_field" id="sort_field" required>
                {%if not editmode%}
                    <option value="author">Author</option>
                {%endif%}
                <option value="title">Title</option>
                <option value="timestamp">Creation Timestamp</option>
            </select>
            <button class="Btn-submit-1" type="submit">Sort it now</button>
        </form>
    </div>
    <!-- TZX005 (Option: End) --------------------------------->

    <ol class="ol-class-1">
        {% for story in stories %}
            <li class="OrderList-1">
                {%if editmode%}
                    <a class="hyperlink-1" href="{{ url_for('edit_story', timestamp=story.timestamp) }}">
                        <span><strong>{{ story.title }}</strong></span> &mdash; 
                        &laquo; <small>by {{ story.author }} on {{ story.timestamp }}</small> &raquo;
                    </a>
                {%else%}
                    <a class="hyperlink-1" href="{{ url_for('read_story', timestamp=story.timestamp) }}">
                        <span><strong>{{ story.title }}</strong></span> &mdash; 
                        &laquo; <small>by {{ story.author }} on {{ story.timestamp }}</small> &raquo;
                    </a>
                {%endif%}
            </li>
        {% endfor %}
    </ol>

    <br>
    
    <img class="Img-bottom-1" src="{{ url_for('static', filename='images/storytime.gif') }}" width=100>

{%endblock%}
