<!-- templates/writer.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Writer</title>
</head>
<body>
    <h1>Story Writer</h1>
    <form action="/add_story" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="4" cols="50" required placeholder="Write your story here..." oninput="updateWordCount()"></textarea><br><br>
        <input type="submit" value="Submit">

        <div class="count">
        <div>
          <h5 id="word-count">0</h5>
          <p>Words</p>
        </div>
        <div>
          <h5 id="charac-count">0</h5>
          <p>Characters</p>
        </div>
      </div>

      <script src="script.js"></script>
      
    </form>
    <h2>Stories:</h2>
    <ul>
        {% for story in stories %}
            <li><strong>{{ story.title }}</strong>: {{ story.content }}</li>
        {% endfor %}
    </ul>
</body>
</html>
