#print-btn{
    border-radius:2px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size:16px;
    color:white;
    background-color: #5c72cb;
    border:none;
    margin-left: 30px;
    margin-bottom:20px;
}

#print-btn:hover{
    opacity:0.8;
    transition: opacity 0.15s;
}

#print-btn:active{
    opacity: 0.6;
    
}
.print-content{
    width:750px;

}
/* TZX013 - Define a print & no-print area (block begin) */
/* Print styles */
@media print {
    /* Show only the print-content */
    .print-content {
        display: inline-block; /* YC print change to inline block so that it can print the text with max width*/
        
    }

    /* Ensure child elements within print-content are displayed */
    .print-content * {
        display: inline-block; /* YC*/
        
    }

    /* Hide elements we don't want to print */
    .no-print,
  /*  #translation, */
  /*  #audio2Player, */
    .grid-item-2 {
        display: none;
    }

}
/* TZX013 - Define a print & no-print area (block end) */