*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;

}

.flash-messages {
    padding: 20px;
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flash-messages li{
    font-weight: bold;
    font-size: 18px;
}
.flash-success {
    background-color: #4CAF50;
    padding: 15px;
    color: black;
}

.flash-error {
    background-color: #f44336;
    padding: 15px;
    color: black;
}
