<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <title>Home Page</title>
</head>
<body>
{% extends "nav.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
            <div class="flash-messages">
                <ul>
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'success' in message %}
                                <li class="flash-success">{{ message }}</li>
                            {% else %}
                                <li class="flash-error">{{ message }}</li>
                            {%endif%}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
     {% endwith %}
{% endblock%}
</body>
</html>