<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <title>Home Page</title>
    {% extends "nav.html" %}
</head>
<body>
{% block title %}Home Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        <div class="flash-messages">
            {% if messages %}
                {% for message in messages %}
                    {% if 'success' in message %}
                        <li class="flash-s">{{ message }}</li>
                    {% else %}
                        <li class="flash-e">{{ message }}</li>
                    {%endif%}
                {% endfor %}
            {%endif%}
        </div>
    {% endwith%}
{%endblock%}
</body>
</html>