<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <title>Home Page</title>
    {% extends "nav.html" %}
</head>
<body>
{% block title %}Home Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
            <div class="flash-messages">
                <ul>
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="result{{}}">
                            {{message}}
                        </div>
                        {%endfor%}
                    {%endif%}
            </div>
     {% endwith %}
{% endblock%}
</body>
</html>