<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <title>Login Page</title>
    <nav>
        <label class="logo">StoryWriter</label>
        <ul class="navbar">
            <li><a href="/login">Login</a></li>
            <li><a href="#">profile</a></li>
        </ul>
    </nav>
</head>
<body>
    {% with messages = get_flashed_messages() %}
            <div class="flash-messages">
                <ul>
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'success' in message %}
                                <li class="flash-success">{{ message }}</li>
                            {% elif 'error' in message %}
                                <li class="flash-error">{{ message }}</li>
                            {% else %}
                                <li>{{ message }}</li>
                            {%endif%}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
    {% endwith %}
    <div class="bigbox">
        <form method="post" action="">
            {{ form.hidden_tag()}}
            <div class="logininfo">
                <h3>Login</h3>
                <div class="inputbox">
                    {{form.username(class="inputfield" , placeholder="Username")}}
                </div>
                <div class="inputbox">
                    {{form.password(class="inputfield", placeholder="Password")}}
                </div>
                <div class="button1">
                    {{form.submit(class="button")}}
                </div>
                <p>New user? <a href ="/signup">Sign up now!</a></p>
            </div>
        </form>
        <div class="image">
            <img src="{{ url_for('static', filename='login_img.jpg') }}" width="600px" height="500px " alt="Image">
        </div>
    </div>
</body>