<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <title>Login Page</title>
</head>
<body>
    <div class="bigbox">
        <div class="logininfo">
            <h3>Login</h3>
            <input type="text" placeholder ="Username">
            <input type="password" placeholder ="Password">
            <button>Login</button>
            <p>New user? <a href ="#">Sign up now!</a></p>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='login_img.jpg') }}" width="600px" height="500px " alt="Image">
        </div>
    </div>
</body>