<!DOCTYPE html>
<html lang = "en">
<header>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css') }}">
    <title>Sign Up Page</title>

</header>
<body>
    <div class = "overall">
        <form>
            <div class="title"><h1>SIGN UP</h1></div>
            <h2>Email</h2>
            <div class = "signedupdetails">
                <input type="email" placeholder="ex: joeting24@gmail.com "required>
            </div>
            <h2>Name</h2>
            <div class = "signedupdetails">
                <input type="text" placeholder="ex: Joe Ting "required>
            </div> 
            <h2>Password</h2>
            <div class="signedupdetails">
                <input type="password" required>
                </div>
            <h2>Confirm Password</h2>
            <div class="signedupdetails">
                <input type="password" required>
            </div>
            <div class = "change password">
                <p>Forgot password? <a href="#">Click here to reset!</a> </p>
            </div>
            <button class="button">Sign Up</button>
            
        </form>
        
        
</body>
</html>