<!DOCTYPE html>
<html lang = "en">
<header>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css') }}">
    <title>Sign Up Page</title>

</header>
<body>
    {%extends "signup.html"%}
    {%block content%}
    <div class = "overall">
        <form method="post" action="">
            {{ form.hidden_tag()}}
            <div class="title"><h1>SIGN UP</h1></div>
            <h2>Email</h2>
            <div class = "signedupdetails">
                {{form.email.label(class="label")}}
                {{form.email(class="form-control-lg")}}
            </div>
            <h2>Username</h2>
            <div class = "signedupdetails">
                {{form.username.label(class="label")}}
                {{form.username(class="form-control-lg")}}
            </div> 
            <h2>Password</h2>
            <div class="signedupdetails">
                {{form.password.label(class="label")}}
                {{form.password(class="form-control-lg")}}
            </div>
            <h2>Confirm Password</h2>
            <div class="signedupdetails">
                {{form.confirm_password.label(class="label")}}
                {{form.confirm_password(class="form-control-lg")}}
            </div>
            <div class="signedupdetails">
                {{form.submit(class="button")}}
            </div>
        </form>
     </div>
     <div class = "change password">
        <p>Forgot password? <a href="{{url_for('resetpassword') }}">Click here to reset!</a> </p>
        <p>Not a new user? <a href ="{{url_for('login') }}"></a>>login here! </a><p>
    </div> 
    {%endblock content%}
        
</body>
</html>