<!DOCTYPE html>
<html lang = "en">
<header>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css') }}">
    <title>Sign Up Page</title>

</header>
<body>
    <div class = "overall">
        <form method="post" action="">
            {{ form.hidden_tag()}}
            <div class="title"><h1>SIGN UP</h1></div>
            <div class = "smallt">
                {{form.email.label(class="label")}}
            </div>
            <div class = "signedupdetails">
                {{form.email(class="inputbox")}}
            </div>
            <div class = "smallt">
                {{form.username.label(class="label")}}
            </div>
            <div class = "signedupdetails">
                {{form.username(class="inputbox")}}
            </div> 
            <div class="smallt">
                {{form.password.label(class="label")}}
            </div>
            <div class = "signedupdetails">
                {{form.password(class="inputbox")}}
            </div>
            <div class="smallt">
                {{form.confirm_password.label(class="label")}}
            </div>   
            <div class = "signedupdetails">
                {{form.confirm_password(class="inputbox")}}
            </div>
            <div class = "change password">
                <p>Forgot password? <a href="/resetpass">Click here to reset!</a> </p>
                <p>Not a new user? <a href ="/login">login here! </a><p>
            </div> 
            <div class="button1">
                {{form.submit(class="button")}}
            </div>
        </form>
     </div>
        
</body>
</html>